<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= headline %></h2>
        <ol class="breadcrumb">
           <% levels.each do |l| %>
            <li>
              <%= l %>
            </li>
            <% end %>
        </ol>
    </div>
</div>
