<div class="footer">
    <div class="pull-right">
        O amor é a força mais poderosa que existe
    </div>
    <div>
        <strong>Copyleft</strong> PortalSuperação &copy; 2017
    </div>
</div>
